In [188]:
import os
import datetime
import requests
import json
import pandas as pd
import hvplot.pandas
import plotly.express as px
%matplotlib inline
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CEU3231160001'],"startyear":"2019", "endyear":"2020", "registrationkey":"3040f2eebdb244b5b9ce84ba21f0c6c9"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [189]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 126,
 'message': [],
 'Results': {'series': [{'seriesID': 'CEU3231160001',
    'data': [{'year': '2020',
      'period': 'M03',
      'periodName': 'March',
      'latest': 'true',
      'value': '535.3',
      'footnotes': [{'code': 'P', 'text': 'preliminary'}]},
     {'year': '2020',
      'period': 'M02',
      'periodName': 'February',
      'value': '536.8',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M01',
      'periodName': 'January',
      'value': '534.2',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M12',
      'periodName': 'December',
      'value': '543.2',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M11',
      'periodName': 'November',
      'value': '545.6',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M10',
      'periodName': 'October',
      'value': '538.6',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M09',
      'periodName': 'September',
      'value': '532.1',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M08',
      'periodName': 'August',
      'value': '531.0',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M07',
      'periodName': 'July',
      'value': '528.0',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M06',
      'periodName': 'June',
      'value': '526.1',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M05',
      'periodName': 'May',
      'value': '523.9',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M04',
      'periodName': 'April',
      'value': '523.9',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M03',
      'periodName': 'March',
      'value': '526.8',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M02',
      'periodName': 'February',
      'value': '529.5',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M01',
      'periodName': 'January',
      'value': '528.3',
      'footnotes': [{}]}]}]}}

In [190]:
json_data['Results']['series'][0]['data']

[{'year': '2020',
  'period': 'M03',
  'periodName': 'March',
  'latest': 'true',
  'value': '535.3',
  'footnotes': [{'code': 'P', 'text': 'preliminary'}]},
 {'year': '2020',
  'period': 'M02',
  'periodName': 'February',
  'value': '536.8',
  'footnotes': [{}]},
 {'year': '2020',
  'period': 'M01',
  'periodName': 'January',
  'value': '534.2',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M12',
  'periodName': 'December',
  'value': '543.2',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M11',
  'periodName': 'November',
  'value': '545.6',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M10',
  'periodName': 'October',
  'value': '538.6',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M09',
  'periodName': 'September',
  'value': '532.1',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M08',
  'periodName': 'August',
  'value': '531.0',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M07',
  'periodName': 'July',
  'value': '528.0',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M06',
  'periodName': 'June',
  'value': '526.1',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M05',
  'periodName': 'May',
  'value': '523.9',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M04',
  'periodName': 'April',
  'value': '523.9',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M03',
  'periodName': 'March',
  'value': '526.8',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M02',
  'periodName': 'February',
  'value': '529.5',
  'footnotes': [{}]},
 {'year': '2019',
  'period': 'M01',
  'periodName': 'January',
  'value': '528.3',
  'footnotes': [{}]}]

In [191]:
year_list=[]
month=[]
value=[]

In [192]:
for items in json_data['Results']['series'][0]['data']:
    year_list.append(items['year'])
    month.append(items['periodName'])
    value.append(items['value'])

In [193]:
# print(value)

In [194]:
year_df = pd.DataFrame([year_list]).transpose()
month_df = pd.DataFrame([month]).transpose()
value_df = pd.DataFrame([value]).transpose()

In [206]:
employment_data_df = pd.concat([year_df, month_df, value_df], axis='columns', join='inner')
employment_data_df.columns = ["Year", "Month", "Value"]
employment_data_df.set_index(employment_data_df["Month"], inplace=True)
employment_data_df.drop(columns=["Month"], inplace=True)
employment_data_df = employment_data_df.groupby(['Year','Month']).reset_index()
employment_data

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [202]:
employment_data_df.astype({'Value': 'float'}).dtypes

AttributeError: Cannot access callable attribute 'astype' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [181]:
employment_data_df.hvplot.line('Month')['Value']

:Curve   [Month]   (value)